.bg {
  position: relative;

  .img1 {
    position: absolute;
color: white;
    top: 2.5%;
    left: 38%;
  }

  .img2 {
    position: absolute;
    color: white;
    top: 2.5%;
    left: 57%;
  }


}